# Series Nesnesi

**Pandas**'da öğrenilecek ilk temel veri tipi Series'dir.

Series, NumPy dizisine çok benzerdir (aslında NumPy array nesnesinin üzerine inşa edilmiştir). NumPy dizisini bir Series'ten ayıran şey Series'ın eksen etiketlerine sahip olabilmesidir, yani yalnızca bir sayı konumu yerine etiketle de indekslenebilmesidir. Ayrıca sayısal verileri tutması gerekmez, isteğe bağlı olarak herhangi bir Python nesnesini tutabilir.

In [2]:
import numpy as np
import pandas as pd

## Python Nesnelerinden Series Oluşturma

### Indeks ve Veri Listeleri

Python listelerinden bir Series oluşturma:

In [15]:
myindex = ['USA','Can',"Mex"] #index listesi

In [16]:
mydata = [1776, 1867, 1821] #veri listesi

In [17]:
myser = pd.Series(data=mydata) #Series listesi

In [18]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [21]:
df = pd.Series(data=mydata, index=myindex)
df

USA    1776
Can    1867
Mex    1821
dtype: int64

In [22]:
df['Can']

1867

### NumPy dizilerinden bir Series oluşturma

In [27]:
ran_data = np.random.randint(0,100,4)

In [28]:
ran_data

array([76, 86, 99,  8])

In [29]:
names = ['Andrew', 'Bobo', 'Claire', 'David']

In [34]:
ages = pd.Series(ran_data, names)

In [35]:
ages

Andrew    76
Bobo      86
Claire    99
David      8
dtype: int64

In [36]:
ages['David']

8

### Bir Dictionary'den Series oluşturma

In [37]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [38]:
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [39]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

# Series'ın anahtar fikri

## Adlandırılmış Dizin (İndeks)

In [40]:
# Global bir şirkete ait 1. ve 2. Çeyrek için Hayali Satış Verileri
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [41]:
# Pandas Serisine Dönüştürme
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [42]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [43]:
# Adlandırılmış Dizine dayalı arama değerleri
sales_Q1['Japan']

80

In [44]:
# Tamsayı Tabanlı indeks bilgileri ile de değer alınabilir!
sales_Q1[0]

80

**Olası hatalar!**

In [45]:
# Yanlış isim
# sales_Q1['France']

In [46]:
# Kazayla Oluşan Ekstra Boşluklar
# sales_Q1['USA ']

In [47]:
# Büyük Harf Hatası
# sales_Q1['usa']

## İşlemler

In [48]:
# İndeks anahtarlarını alma
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [49]:
sales_Q2.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [50]:
# Tüm Series'lerde Yayınlama İşlemleri Gerçekleştirebilir
sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [51]:
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [52]:
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

## Seriler Arası işlemler

In [53]:
# Pandas'ın sizi NaN ile uyumsuzluk konusunda nasıl bilgilendirdiğine dikkat edin
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [54]:
# Bunları istediğiniz herhangi bir değerle doldurabilirsiniz.
sales_Q1.add(sales_Q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

Seriler bu kadar :))